<div>
    <form method="post" action="salvar">
        <fieldset>
            <legend>CADASTRO ALUNOS</legend>
            <label for="">NOME DO ALUNO</label>
            <input type="text" name="name">
            <label for="">TELEFONE</label>
            <input type="text" name="telefone">
            <label for="">E-MAIL</label>
            <input type="text" name="email">
            <label for="">NOTA</label>
            <input type="text" name="nota">
            <button type="submit">SALVAR</button>
        </fieldset>
    </form>
</div>